@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sankofa+Display&display=swap');
*{
  padding:0;
  margin:0;
  font-family:Outfit;
  box-sizing: border-box;
}
#root{
  min-height:100vh;
  display:flex;
}

